.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

}


.modal-content {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  height: 150px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  animation: modalFadeIn 0.3s ease;
  background: linear-gradient(135deg, #00b09b, #96c93d);

}



.add {
border: none;
background: transparent;
}


.Exit {
border: none;
background: transparent;
cursor: pointer;
}

.Exit-add {
  cursor: pointer;
  border-radius: 12px;
  height: 35px;
  border: none;
  margin-left: 20px;


}

.add-categoriy {
border-radius: 12px;
margin-top: 10px;
cursor: pointer;
background-color: white;
border: none;
height: 35px;
}

.input {
    border-radius: 10px;
    height: 25px;
}