.right-side {
display: flex;  
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.side-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: -800px;
  gap: 10px;
  
}
.tasks-menu {
display: flex;
justify-content: center;
flex-direction: column;
max-height: 100px;

}

.category-menu {
font-size: 15px;


}

.input {
  border-radius: 10px;
  border: none;
  font-size: 15px;
  color:black;

}

.select {
  border: none;
border-radius: 10px;
  font-size: 15px;
}


.btn {
border: none;
border-radius: 10px;
  font-size: 15px;
  background-color: green;
  color:aliceblue;
}







